html {
	position: relative;
}

html, body {
	margin: 0;
	min-height: 100%;
}

@font-face {
	font-family: 'Swis721 Light BT';
	src: url('../fonts/ufonts.com_swis721-lt-bt-light.woff') format('woff');
}

body {
	background: #f5b35f url('../images/background.jpg') no-repeat 50% 100%;
	background-size: cover;
	color: #fff;
	font-family: 'Swis721 Light BT', Helvetica, Arial, sans-serif;
	padding-bottom: 130px;
}

/* Header */
.top-header {
	padding: 20px 35px 0;
	text-align: left;
}

.top-header__logo {
	width: 160px;
}

.top-header__nav {
	float: right;
	font-size: 18px;
	padding-top: 10px;
}

.top-header__nav-link,
.top-header__nav-link--active {
	color: #fff;
	display: inline-block;
	padding: 10px 10px 8px;
	text-decoration: none;
	text-transform: uppercase;
}

.top-header__nav-link:hover {
	border: 1px solid #f7931e;
	border-radius: 15px;
	padding: 10px 9px 7px;
}

.top-header__nav-link--active {
	background: #fff;
	border-radius: 15px;
	border: 1px solid #f7931e;
	color: #f9b05a;
	margin: 0 8px 0 0;
}

.content {
	padding: 0 35px;
}

.main-title {
	font-size: 58px;
	font-weight: normal;
	text-align: center;
}

/* Instructions */
.instructions-section {
	margin: auto;
	min-height: 80px;
	text-align: left;
	width: 80%;
}

.instructions {
	display: inline-block;
	font-size: 25px;
	margin: 0;
	max-width: 50%;
	position: relative;
}

.instructions::after {
	background: url('../images/indicator.svg') no-repeat;
	background-size: contain;
	content: '';
	display: block;
	height: 58px;
	left: calc(100% + 30px);
	max-width: 90%;
	position: absolute;
	top: 15px;
	width: 132px;
}

/* URL cut input field */
.cut-form--succeded,
.cut-form--errored,
.cut-form {
	margin: auto;
	position: relative;
	width: 80%;
}

.cut-form--succeded::after,
.cut-form--succeded::before,
.cut-form--errored::after,
.cut-form--errored::before,
.cut-form::after,
.cut-form::before {
	color: #cbcbcb;
	font-size: 38px;
	line-height: 52px;
	pointer-events: none;
	position: absolute;
	top: 0;
}

.cut-form--succeded::after,
.cut-form--errored::after,
.cut-form::after {
	content: ']';
	right: 17px;
}

.cut-form--succeded::before,
.cut-form--errored::before,
.cut-form::before {
	content: '[';
	left: 17px;
	z-index: 1;
}

.cut-form--errored::after,
.cut-form--errored::before {
	color: #ff422c;
}

.cut-form--succeded::after,
.cut-form--succeded::before {
	color: #0DBD0D;
}

.cut-field--errored,
.cut-field {
	background: transparent;
	border: 1px solid #f7931e;
	color: #4f4f4f;
	display: block;
	line-height: 58px;
	padding: 0 60px;
	position: relative;
}

.cut-field--errored:valid,
.cut-field:valid {
	background: #fff;
}

.cut-field--errored:focus,
.cut-field:focus {
	border: 1px solid #205cca;
	outline: none;
}

.cut-field--errored,
.cut-field--errored:valid {
	background: #fffdcc;
}

.cut-field--errored,
.cut-field,
.magic-placeholder {
	border-radius: 17px;
	box-sizing: border-box;
	font-size: 24px;
	height: 58px;
	text-align: center;
	width: 100%;
}

.magic-placeholder {
	background: #fff;
	color: #cacaca;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
}

.magic-placeholder__title {
	font-size: 20px;
}

.magic-placeholder__subtitle {
	font-size: 11px;
}

/* Footer */
.main-footer {
	background: #e6e6e6;
	bottom: 0;
	box-sizing: border-box;
	color: #4f4f4f;
	font-size: 18px;
	line-height: 20px;
	margin-top: 50px;
	padding: 20px 73px 30px;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.main-footer__language {
	float: left;
	margin: 10px 20px 0 0;
}

.main-footer__language-select {
	vertical-align: middle;
}

.main-footer__nav {
	float: left;
	margin-top: 10px;
}

.main-footer__nav-link {
	border-right: 1px solid #4f4f4f;
	color: #4f4f4f;
	display: block;
	float: left;
	padding: 0 10px;
	text-decoration: none;
}

.main-footer__nav-link:last-child {
	border-right: none;
}

.main-footer__nav-link:hover {
	text-decoration: underline;
}

.main-footer__copyright {
	float: right;
	margin-top: 10px;
}

@media (max-width: 800px) {
	.top-header__logo {
		display: block;
		margin: 0 auto 30px;
	}

	.top-header__nav {
		float: none;
		text-align: center;
	}

	.cut-form--succeded,
	.cut-form--errored,
	.cut-form {
		width: 100%;
	}

	.cut-field--errored, .cut-field {
		padding: 0 15px;
	}

	.main-footer {
		padding: 15px;
	}

	.cut-form--succeded::after,
	.cut-form--errored::after,
	.cut-form::after {
		right: 7px;
	}

	.cut-form--succeded::before,
	.cut-form--errored::before,
	.cut-form::before {
		left: 7px;
	}
}
