html, body {
	min-height: 100%;
}
body {
	background: #f5b35f url('../images/background.jpg') no-repeat 50% 100%;
	background-size: cover;
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	padding: 20px 35px;
	text-align: center;
}

.cut-field {
	color: #4f4f4f;
	font-size: 34px;
	height: 77px;
	line-height: 77px;
	padding: 0 28px;
	width: 60%;
}
